/*
!/.gitignore
!/.oh-my-zshrc
!/.profile
!/.zprofile
!/.zshrc
!/.zshenv
!/.zshrc

!/.config
/.config/*
!/.config/alacritty
!/.config/git
!/.config/kanshi
!/.config/nvim
!/.config/oh-my-zsh
!/.config/starship.toml
!/.config/sway
!/.config/swaylock
!/.config/waybar
!/.config/wofi

!/.ssh
/.ssh/*
!/.ssh/config

