/*
!/.gitignore
!/.profile
!/.zprofile
!/.zshrc
!/.zshenv
!/.gtkrc-2.0

!/.config
/.config/*
!/.config/alacritty
!/.config/bottom
!/.config/environment.d
!/.config/git
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/helix
!/.config/kanshi
!/.config/mako
!/.config/nvim
!/.config/packages
!/.config/starship.toml
!/.config/sway
!/.config/swaylock
!/.config/systemd
!/.config/waybar
!/.config/wofi
!/.config/zed
/.config/zed/*
!/.config/zed/keymap.json
!/.config/zed/settings.json
!/.config/zed/languages
!/.config/zed/themes
/.config/zed/themes/*
!/.config/zed/themes/blacklight.json

!/.scripts

!/.ssh
/.ssh/*
!/.ssh/config

!/.vscode
/.vscode/*
!/.vscode/argv.json
