/*
!/.gitignore
!/.oh-my-zshrc
!/.profile
!/.zprofile
!/.zshrc
!/.zshenv
!/.zshrc

!/.config
/.config/*
!/.config/alacritty
!/.config/bottom
!/.config/Code/User/settings.json
!/.config/git
!/.config/helix
!/.config/kanshi
!/.config/nvim
!/.config/oh-my-zsh
!/.config/packages
!/.config/starship.toml
!/.config/sway
!/.config/swaylock
!/.config/waybar
!/.config/wofi

!/.scripts

!/.ssh
/.ssh/*
!/.ssh/config

