@define-color highlight #c300ff;
@define-color bg       #0d0d18;
@define-color bg-alt   #1a1a2e;
@define-color bg-entry #13132a;
@define-color fg       #c5c8c6;

* {
    font-family: "SauceCodePro Nerd Font";
    font-size: 13px;
}

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    color: @fg;
    background-color: @bg-alt;
}

#inner-box {
    background-color: @bg-entry;
}

#outer-box {
    margin: 2px;
    padding: 12px;
    background-color: @bg;
}

#text {
    padding: 4px;
    color: @fg;
}

#entry {
    padding: 4px 10px;
}

#entry:nth-child(even) {
    background-color: @bg-alt;
}

#entry:selected {
    background-color: @highlight;
    color: white;
}
